
html, body {
	height: 100%;
	width: 100%;
}
.container {
	text-align: center;
}

.icons {
	height: 60%;
	display: flex;
	flex-flow: row-wrap;
	background: lightgray;
}
.cell {
	width: 25%;
	height: 25%;
	background: gray;
}